body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: solid 1px black;
    padding: 4px;
    margin-top: 6px;
}

.message-info {
    color: purple;
    background-color: lightblue;
    padding: 12px;
}
.message-success {
    color: green;
    background-color: lightgreen;
    padding: 12px;
}
.message-warning {
    color: orange;
    background-color: lightyellow;
    padding: 12px;
}
.message-error {
    color: red;
    background-color: pink;
    padding: 12px;

}