body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: solid 1px black;
    padding: 4px;
    margin-top: 6px;
}

.message-info {
    color: #5955AB;
    background-color: #CCDEFF;
    padding: 12px;
}
.message-success {
    color: #388859;
    background-color: #CFf3DA;
    padding: 12px;
}
.message-warning {
    color: #978424;
    background-color: #fcfbc9;
    padding: 12px;
}
.message-error {
    color: #994065;
    background-color: #F6D0D4;
    padding: 12px;

}