div>button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: 1px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px gold;
}
}
button:hover {
    background-color: lightcoral
}

.btn:active {
    background-color: #black;
    box-shadow: 0 5px blue;
    transform: translateY(4px);
}
.btn-outline-primary {
    background-color: blue;
}
.btn-outline-secondary {
    background-color: pink;
}
.btn-outline-success {
    background-color: green;
}
.btn-outline-danger {
    background-color: red;
}
.btn-outline-warning {
    background-color: orange;
}
.btn-outline-info {
    background-color: aqua;
}
.btn-outline-light {
    background-color: silver;
}
.btn-outline-dark {
    background-color: darkblue;
}
.btn-outline-link {
    background-color: purple;
}
#btn secondary active {
    color: gold;
}

