body {
    margin: 0;
}
#container {
    width: 500px;
    height: 300px;
    border: solid 1px black;
}
.box1 {
    height: 300px;
    width: 300px;
    background: #002868;
}
.box2 {
    height: 150px;
    width: 300px;
    background: #bf0a30;
    position: relative;
    top: -150px;
    right: -200px;
}
.box3 {
    height: 150px;
    width: 300px;
    background: white;
    position: relative;
    top: -450px;
    right: -200px;
}
#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    top: -550px;
}
#star-five:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star-five:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}
